@page "/"

<button @onclick="@Update">Update Value</button>
<br/>
<SfRichTextEditor @bind-Value="@Value" EditorMode="EditorMode.Markdown"/>
<br/>
<textarea rows="5" cols="60" @bind="@Value"></textarea>

@code {

    public string Value { get; set; } = "Syncfusion Rich Text Editor";

    private void Update()
    {
        this.Value = "**Dynamic** Value";
    }
}